body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    background-color: var(--background);
}

.header-section, 
.place-section,
.tower-section, 
.floor-section,
.room-section,
.date-n-time-section
 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.App {
    height: var(--app-height);
    width: var(--app-width);

    /* margin-left: 256px; */

    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background-color: var(--card-background);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.header-section {
    height: var(--header-height);
    padding-left: var(--padding);

    color: var(--light-text);
    box-shadow: var(--box-shadow);
    background-color: var(--main-blue);

    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.header-text {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}

.place-section {
    justify-content: space-between;
    /* height: 60px; */
    height: 80px;
    box-sizing: border-box;
    padding: 0 var(--padding);
    color: var(--basic-text);
}

.tower-section, 
.floor-section,
.room-section {
    /* width: 33%; */
    height: 100%;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-right: 16px;
    order: 0;
}

.selectors-group {
    position: relative;
    width: 48px;
    height: 48px;

    font-size: 18px;
    text-align: center;

    background: transparent;
    
    order: 1;
}

.selectors-group.open + label {
    color: var(--dark-text);
}

.select {
    width: 48px;
    height: 48px;

    font-size: 18px;
    text-align: center;
    color: var(--basic-text);

    border: 1px solid #C3C3C3;
    border-radius: var(--border-radius);
    background: transparent;
    
    transition-property: border-bottom-left-radius, border-bottom-right-radius;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.select.open {
    color: var(--dark-text);
    border-color: #9c9c9c;
    border-bottom: 1px solid var(--white-background);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
}

.pseudo-select {
    position: absolute;
    top: 48px;
    right: 0;

    box-sizing: border-box;
    max-height: 0;
    width: 48px;
    padding-right: 4px;
    
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    background-color: #fff;
    z-index: 5;
    overflow: hidden;

    transition-property: padding-top, max-height, box-shadow, border-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}


.pseudo-select.open {
    color: var(--dark-text);
    max-height: 200px;
    padding: 4px 0;
    padding-right: 0px;

    border: 1px solid #9c9c9c;
    box-shadow: 0 4px 8px 0px #cbcbcb;

    overflow: auto;
}

.tower-section .pseudo-select {
    padding-right: 0;
}

.tower-section .pseudo-select.open {
    overflow: hidden;
}

.pseudo-option { user-select: none }
.pseudo-option:hover {
    color: #fff;
    background-color: var(--hover-option);
}
.pseudo-option:active {
    color: #fff;
    background-color: var(--active-option);
}

.date-n-time-section {
    --time-height: 42px;
    
    justify-content: space-between;
    height: 80px;
    padding: 0 var(--padding);
}

.date-n-time-section label {
    height: unset;
    order: 0;
}

.date-n-time-section .pseudo-select {
    font-size: var(--font-size);
    top: var(--time-height);
}

.date-n-time-section .selectors-group {
    height: unset;
}

.date-section,
.time-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    
    height: 100%;
}

#time-selectors-group .pseudo-select,
#time-selectors-group,
#time-selector {
    width: 128px;
    box-sizing: border-box;
}

#time-selectors-group .pseudo-select {
    padding-right: 4px;
    text-align: center;
}
#time-selectors-group .pseudo-select.open {
    padding-right: 0;
}

.date-section input,
.time-section select {
    box-sizing: border-box;
    height: var(--time-height);;
}

.time-section .select {
    font-size: var(--font-size);
}

.date-section input {
    padding-right: 10px;
    padding-left: 6px;
    width: 148px;

    font-size: var(--font-size);
    text-align: center;
    color: var(--basic-text);

    border: 1px solid #C3C3C3;
    border-radius: var(--border-radius);
    background: transparent;
    outline: none;

    appearance: none;
    -ms-progress-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    order: 1;
}

#date-selector::-webkit-calendar-picker-indicator {
    transform: scale(1.1);
    filter: invert(55%);
}

.comment-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    
    box-sizing: border-box;
    height: 128px;
    padding: 0 var(--padding);
}

.comment-section label {
    height: unset;
    color: #707070;
    order: 0;
}

.comment-section textarea {
    width: 100%;
    height: 96px;

    padding: 2px 4px;

    box-sizing: border-box;
    resize: none;

    border: 1px solid #C3C3C3;
    border-radius: var(--border-radius);

    font-family: var(--main-font);
    font-size: 14px;
    line-height: 18px;
    color: #8a8a8a;
    order: 1;
}

.comment-section textarea:focus + label {
    color: #555555;
}
.comment-section textarea:hover + label {
    color: #606060;
}
.comment-section textarea:focus {
    outline: 0;
    border: 1px solid #9c9c9c;
    color: #555555;
    /* background-color: #fcfcfc; */
}
.comment-section textarea:hover {
    border: 1px solid #9c9c9c;
}
.comment-section textarea::-webkit-scrollbar {
    width: 8px;
}
.comment-section textarea::-webkit-scrollbar-button {
    height: 0;
}
.comment-section textarea::-webkit-scrollbar-thumb {
    background-color: #00000025;
    border-radius: 10px;
}
.comment-section textarea::-webkit-scrollbar-thumb:hover {
    background-color: #0000002f;
    cursor: pointer;
}
.comment-section textarea::-webkit-scrollbar-thumb:active {
    background-color: #0000004a;
}
.comment-section textarea::-webkit-scrollbar-track {
    background-color: #00000020;
}

.buttons-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    padding: 0 var(--padding);
    padding-bottom: 48px;
}

.buttons-section button {
    box-sizing: border-box;
    height: 44px;
    padding: 6px 28px;

    border: 1px solid #ffffff00;
    border-radius: var(--border-radius);

    font-family: var(--main-font);
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;

    outline-width: 0;
    cursor: pointer;
    transition: all .15s ease;
}

.buttons-section .submit {
    background: #4DD3A9;
    border: 1px solid #4DD3A9;
    color: #fff;
    margin-right: var(--padding);
}

.buttons-section .submit:hover {
    background: #3db08c;
    border: 1px solid #3db08c;
}


.buttons-section .submit:active {
    background-color: #ffffff;
    color: #297AB5;
    border: 1px solid #ACD8F8;
}

.buttons-section .clear {
    background: #ffffff;
    color: #297AB5;
    border: 1px solid #ACD8F8;
}

.buttons-section .clear:hover {
    background: #f2f3f5;
}

.buttons-section .clear:active {
    background: rgb(225, 235, 244);
}


.success-container {
    height: 100%;
    width: 100%;
}

.success-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: calc(var(--app-height) - var(--header-height));
    width: 100%;
}

.success-icon svg {
    padding-bottom: 36px;
}

.success-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding-bottom: 32px;
}

.success-text {
    display: block;
    font-size: 18px;
    line-height: 22px;   
    
    padding-top: 16px;
    padding-bottom: 40px;
}

.ready {
    height: 44px;
    padding: 6px 28px;

    box-sizing: border-box;
    border: 2px solid #4DD3A9;
    border-radius: var(--border-radius);

    font-family: var(--main-font);
    font-size: var(--font-size);
    line-height: 19px;
    text-decoration: none;

    outline-width: 0;
    cursor: pointer;
    transition-property: background-color, border-color;
    transition-duration: .15s;
    transition-timing-function: ease;
    background: #4DD3A9;
    color: #fff;
}

.ready:hover {
    background: #3db08c;
    border: 2px solid #3db08c;
}

.ready:active {
    background-color: #ffffff;
    color: #297AB5;
    border: 2px solid #ACD8F8;
}

.invalid-field {
    outline: 1px solid rgb(255, 95, 95) !important;
    border-color: 1px solid rgb(255, 95, 95) !important;
    background: rgb(255, 245, 245) !important;
}

.is-hidden {
    display: none;
}

/* .place-section label:focus,  */
/* .place-section .select:focus,  */
label:hover,
.select:hover,
#date-selector:hover,
.floor-section:focus, 
.floor-section:hover,
.tower-section:focus, 
.tower-section:hover,
.room-section:focus, 
.room-section:hover,
.date-section:hover,
.floor-section:hover .select,
.tower-section:hover .select,
.room-section:hover .select,
.date-section:hover input,
.pseudo-select:hover,
.pseudo-select:focus,
.selectors-group:hover,
.selectors-group:focus,
.selectors-group:hover .select,
.selectors-group:focus .select,
#date-selector:focus + label,
#date-selector:hover + label
.selectors-group:focus + label,
.selectors-group:hover + label {
    color: var(--dark-text);
}
.date-section:hover #date-selector::-webkit-calendar-picker-indicator {
    filter: invert(20%);
}

.select:hover,
.pseudo-select:hover + .select,
.floor-section:hover .select,
.tower-section:hover .select,
.room-section:hover .select,
.time-section:hover .select,
.date-section:hover input {
    outline: 0;
    border-color: #9c9c9c;
}
.select.open:hover,
.pseudo-select.open:hover .select.open,
.floor-section:hover .select.open,
.tower-section:hover .select.open,
.room-section:hover .select.open,
.time-section:hover .select.open  {
    border-bottom-color: var(--white-background);
}
.select:focus, 
.pseudo-select:focus + .select {
    outline: 0;
}
.pseudo-select::-webkit-scrollbar { width: 4px }
.pseudo-select::-webkit-scrollbar-button { height: 0 }
.pseudo-select::-webkit-scrollbar-thumb { background-color: #00000025 }
.pseudo-select::-webkit-scrollbar-thumb:hover { background-color: #0000002f }
.pseudo-select::-webkit-scrollbar-track { background-color: #00000020 }
