h1, h2, h3, p, span, a, input, body, html, button, select, option, form, label {
    margin: 0;
    padding: 0;
}

body {  
    --main-blue: #3292d7;
    --white-background: #ffffff;
    --card-background: #ffffff;
    --dark-text: #1a1a1a;
    --basic-text: #707070;
    --hover-option: #9c9c9c;
    --active-option: #707070;
    --light-text: #fafafa;
    --background: #eeeeee;
    
    --font-size: 16px;
    --line-height: 20px;

    --app-width: 480px;
    --app-height: 560px;
    --header-height: 84px;
    --padding: 32px;
    --box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    --border-radius: 4px;

    --main-font: "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica", sans-serif;

    font-family: var(--main-font);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--basic-text);
}


